<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}"></head>

<body>
<div>
    <button class="btn btn-success">Кнопка</button>
    <p th:text="${lessonPlan.getSchoolDate().getName()}" />

    <div class="schoolTables">

        <div th:each="schoolClass : ${schoolClasses}" class="card">
            <div th:text="${schoolClass.getName()}"></div>
            <div th:each="lesson : ${lessonPlan.getLessons()}">
                <div th:if="${lesson.getSchoolClass().getId().equals(schoolClass.getId())}" style="display: grid; grid-template-columns: 10% 55% 30%">
                    <div th:text="${lesson.getNumber()}"></div>
                    <div th:text="${lesson.getName()}"></div>
                    <div th:text="${lesson.getCab()}"></div>
                </div>
            </div>
        </div>
    </div>


    <div th:replace="fragments/footer :: footer">...</div>

</div>
</body>
<style>
    .schoolTables{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 0 0 5% 5% ;
    }
    .card{
        width: 30%;
        border: 1px solid black;
        padding: 10px;
    }
</style>
</html>